@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');

.gridnavbartxt1{
    display: grid;
    grid-template-columns: 818px;
  
  }
  .textnextpage{
    color: white;
    right: 0;
    text-decoration: none;
  
  }
  .textnextpage:hover{
    color: rgba(255, 255, 255, 0.562);
    cursor: pointer;
  }
  
  #button-nav-nextpage{
    display: flex;
    flex-direction: row-reverse;
  }

  .nav-geral{
    display: flex;
    grid-template-columns: 61px 74px;
    align-items: center;
}

.iconNavbar1{
    transform: scaleX(-1);
}

body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  background-image: url("../images/Starfield.webp");
  
  font-family: 'Star Jedi', arial;
}

.videoobiwan{

  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.textoSerieObiwan{
  color: white;
  margin-top: 20px;
  font-size: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
#headereObi{

  font-family: 'Anton', sans-serif;
}